html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 2rem;
  font-size: 1.8rem;
}

.calendar-btn-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.modify-btn {
  background-color: #1E7BE2;
  color: white;
  border-radius: 5px;
  font-size: 1.4rem;
  width: 13rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.6rem;
}

.calendar-view-layout {
  display: flex;
  font-size: 1.8rem;
}

.sidebar {
  flex: 1;
}

#assignment-creator {
  border-radius: 5px;
  overflow: hidden;
}

#assignment-creator .header {
  background-color: #BBD4F3;
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

#assignment-creator .header-text {
  color: #231F20;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: -0.11px;
  line-height: 1.6rem;
}

.clear-button {
  border-radius: 5px;
}

#assignment-creator .container {
  background-color: #ECF3FC;
  padding: 1rem;
  height: 100%;
}

.filter-options-title {
  background-color: #ECF3FC;
  margin: 0 0 1rem 0;
  padding: 0 1rem .5rem 1rem;
  border-bottom: 1px solid #979797;
  font-size: 1.4rem;
  display: block;
  color: #231F20;
  font-weight: bold;
  letter-spacing: -0.11px;
  line-height: 1.6rem;
}

.filter-option {
  padding: 0 1rem .5rem 1rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.calendars-container {
  flex: 6;
  padding: 0 2rem;
}

.cal-section-title {
  border-bottom: 1px solid #979797;
  display: block;
  margin-bottom: 3rem;
}

.calendars {
  display: flex;
  justify-content: space-between;
}

.calendar {
  flex: 1;
  font-size: 1.17rem !important;
  letter-spacing: 0.59px !important;
  line-height: 13px !important;
}

.calendars .calendar+.calendar {
  margin-left: 2rem;
}

.calendar-list-view-container {
  margin-top: 8rem;
}

.calendar-list-view {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.calendar-list-view .header {
  background-color: #f1f1f1;
  text-transform: uppercase;
  width: 100%;
  border-top: 1px solid #9B9B9B;
  border-bottom: 1px solid #9B9B9B;
}

.calendar-list-view .body .col-md {
  padding: .75rem;
}

.calendar-list-view .header .col-md {
  height: 3.4rem;
  font-weight: bold;
  color: #4a4a4a;
  font-size: 1.1rem;
  line-height: 1.2rem;
  text-align: center;
  letter-spacing: -.09px;
  padding: 1rem;
}

.calendar-list-view .body {
  height: 14.9rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #9B9B9B;
}

.calendar-list-view .body .row {
  border-bottom: 1px solid #f1f1f1;
}

.calendar-list-view .body .col-md {
  color: #231F20;
  font-size: 1.2rem;
  letter-spacing: -0.1px;
  line-height: 1.4rem;
  text-align: center;
  height: 3rem;
}
